@model UI.MVC.Models.Dto.CreateSubPlatformAdminViewModel

@{
    Layout = "_LayoutAdmin";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Overzicht van alle projecten</h2>
           @if (User.IsInRole("subplatformadministrator"))
           {
               <a asp-controller="SubPlatform" asp-action="AddProject" class="btn btn-primary">Project Toevoegen</a>
           }
    </div>

    @if (TempData["Message"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["Message"]
                </div>
            }

    @if (Model.Projects != null && Model.Projects.Any())
    {
        <div class="row row-cols-1 row-cols-sm-2 g-4">
            @foreach (var project in Model.Projects)
            {
                if (User.IsInRole("companion") && project.IsActive||User.IsInRole("subplatformadministrator"))
                {
                    
              
                <div class="col">
                    <div class="card h-100 w-100">
                        <div class="card-header @(project.IsActive ? "bg-success text-white" : "bg-danger text-white")">
                            Project # @Html.DisplayFor(model => project.ProjectId)
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(model => project.Name)</h5>
                            <p class="card-text">
                                <strong>Status:</strong>
                                <span class="badge @(project.IsActive ? "bg-success" : "bg-danger")">
                                    @(project.IsActive ? "Actief" : "Inactief")
                                </span>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a class="m-lg-1 fw-bold rounded-2 nav-button bg-primary text-white justify-content-md-end mt-1 @(project.IsActive ? "btn" : "btn disabled")" asp-area="" asp-controller="Home" asp-action="Startup" asp-route-id="@project.ProjectId">Phygital</a>
                            @if(User.IsInRole("subplatformadministrator"))
                            {
                            <a class="m-lg-1 fw-bold rounded-2 nav-button bg-secondary text-white justify-content-md-end btn mt-1" asp-area="" asp-controller="Flow" asp-action="Overzicht" asp-route-id="@project.ProjectId">Overzicht</a>
                            <a class="m-lg-1 fw-bold rounded-2 nav-button bg-info text-white justify-content-md-end btn mt-1" asp-controller="SubPlatform" asp-action="UpdateProject" asp-route-id="@project.ProjectId">Bewerk</a>
                            <a class="m-lg-1 fw-bold rounded-2 nav-button bg-warning text-white justify-content-md-end btn mt-1" asp-controller="Statistics" asp-action="ProjectAnalysis" asp-route-id="@project.ProjectId">Analyse</a>
                            <form method="post" action="@Url.Action("DeleteProject", "SubPlatform")" class="d-inline">
                                <input type="hidden" name="projectId" value="@project.ProjectId" />
                                <button type="submit" class="m-lg-1 fw-bold rounded-2 nav-button bg-danger text-white justify-content-md-end btn mt-1">Verwijderen</button>
                            </form>
                            }
                        </div>
                    </div>
                </div>  }
            }
        </div>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            Er zijn geen projecten.
        </div>
    }
</div>
