@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <!-- Bootstrap CSS -->
    @await RenderSectionAsync("Scripts", required: false)
    <link rel="stylesheet" href="~/dist/site.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5/dist/sketchy/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">


</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <!-- Always visible items -->
        <div class="d-flex">
            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <span class="m-lg-2 text-light me-2">@Localizer["Ingelogd"]: <strong>@User.Identity.Name</strong></span>
            }
            else
            {
                <a class="m-lg-2 nav-link fw-bold rounded-2 nav-button text-white" href="/Identity/Account/Login">@Localizer["Inloggen"]</a>
            }
        </div>

        <!-- Toggler -->
        <button class="navbar-toggler border-white bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              @if (User.Identity != null && User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link fw-bold rounded-2 nav-button text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                            }
                @if (User.IsInRole("subplatformadministrator") || User.IsInRole("companion"))
                {
                    <li class="nav-item">
                        <a class="nav-link fw-bold rounded-2 nav-button text-white" asp-area="" asp-controller="SubPlatform" asp-action="Projects">@Localizer["Overzicht"]</a>
                    </li>
                    }
                @if (User.IsInRole("subplatformadministrator"))
                {
                    <li class="nav-item">
                        <a class="nav-link fw-bold rounded-2 nav-button text-white" asp-area="" asp-controller="SubPlatform" asp-action="AddCompanion">@Localizer["Begeleider"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold rounded-2 nav-button text-white" asp-controller="Flow" asp-action="Add">@Localizer["Flow"]</a>
                    </li>
                }
                @if (User.IsInRole("admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link fw-bold rounded-2 nav-button text-white" asp-area="" asp-controller="Administrator" asp-action="GetAllSubPlatform">@Localizer["Gebruikers"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold rounded-2 nav-button text-white" asp-area="" asp-controller="Administrator" asp-action="CreateSubPlatformAdmin">@Localizer["Subplatform"]</a>
                    </li>
                }
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <a class="nav-link fw-bold rounded-2 nav-button text-white" href="~/Identity/Account/Logout">@Localizer["Uitloggen"]</a>
                }
              
                <li class="nav-item dropdown">
                    <partial name="_Culture"/>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    @RenderBody()
</div>

@section Scripts {
    <partial name="_LoginPartial"/>


}

</body>
</html>